
{% extends "bootstrap/base.html" %}


{% block html_attribs %} lang="pt-BR" {% endblock html_attribs %} 


{% block title %} Flask Model {% endblock title %}


{% block metas %} 
    {{super()}}

    <!-- Minhas configurações -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock metas %} 


{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.index') }}">Samba Falado</a>
        </div>
        <div class="navbar-collapse collapse">
          
          {% if current_user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('letras.enviarLetra') }}">Enviar Letra</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('usuarios.account') }}">Minha Conta</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('usuarios.logout') }}">Logout</a></li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('usuarios.login') }}">Login</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('usuarios.cadastro') }}">Cadastro</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}}


{% block content %}
{% endblock %}
